In [2]:
import pandas as pd
import numpy as np

In [3]:
df_educatie = pd.read_csv('input/Educatie.csv')
df_pop_jud = pd.read_csv('input/PopulatieJudete.csv')
df_ronuts = pd.read_csv('input/RO_NUTS.csv')

In [4]:
df_educatie

   Judet  Superior  Liceal  Gimnazial  Primar  FaraScoala  PersoaneAnalfabete
0     ab     39697   78171      79505   42171        8328                3194
1     ar     53019   90593     115844   54017        8512                3920
2     ag     77707  150472     129429   72343       11382                4368
3     bc     55431  105090     155383   88953       19306                8806
4     bh     72214  133992     131037   67461       18166                3804
5     bn     26144   48419      87274   41865        8379                3902
6     bt     25497   69747     119289   73367       14669                6281
7     br     31522   60281      88961   46437       10596                5321
8     bv     89606  135797     108744   44807       11279                3505
9      b    577122  519306     265426  114285       15006                3342
10    bz     36595   84595     121314   75274       14703                6817
11    cl     77707  150472     129429   72343       11382                4368
12    cs     29142   64632      87329   39089        6663                2688
13    cj    131030  183498     134648   62934       13879                4873
14    ct     99338  168189     160050   75405       17785                8106
15    cv     18197   45842      57219   24166        7271                4024
16    db     46022  120706     131920   72932       16587                8093
17    dj     85575  156116     146329   96202       19204                8106
18    gl     56463   99574     138346   78928       18359                8284
19    gr     17169   49526      91114   52594       12771               10161
20    gj     38875   87800      77366   40091        8238                3906
21    hr     26508   80404      81969   31871        7329                3228
22    hd     51789  100453      98492   50062        7570                3324
23    il     19137   47595      72442   47546       14339                8082
24    is    100688  145810     181176  112161       21319                9051
25    if     56539   83034      93196   46974       11317                6344
26    mm     48215  101950     144101   56287       13173                4234
27    mh     25694   60963      69441   37843        9274                4876
28    ms     57771  114689     131626   69608       16538                8498
29    nt     39443   73997     137000   72751       12078                4464
30    ot     33520   93733     107366   73479       13877                5566
31    ph     93938  170797     170140   99493       17113                7075
32    sj     24524   49388      58405   29705        7469                3669
33    sm     30589   74274     105871   34555       11438                4655
34    sb     56005   85790      90631   38917        8462                2753
35    sv     51590  106808     194971   87395       16869                5696
36    tr     24605   75139      99803   75861       15577                9226
37    tm    119213  170505     161880   61081       14397                5854
38    tl     17097   40026      59490   29981        8153                4343
39    vl     40384   87613      89019   50757       10125                3743
40    vs     24412   60103     113813   74093       14928                7467
41    vn     27333   60923      97753   58207       12969                6637

In [5]:
df_pop_jud

   Judet  Populatie
0     ab     381185
1     ag     646530
2     ar     474347
3      b    2107399
4     bc     747689
5     bh     619475
6     bn     329490
7     br     356380
8     bt     456404
9     bv     631356
10    bz     479018
11    cj     722438
12    cl     317592
13    cs     328297
14    ct     770220
15    cv     228852
16    db     528791
17    dj     700840
18    gj     366429
19    gl     632255
20    gr     276930
21    hd     470223
22    hr     333789
23    if     390919
24    il     293940
25    is     921056
26    mh     287005
27    mm     526197
28    ms     596352
29    nt     578007
30    ot     450333
31    ph     809394
32    sb     464513
33    sj     247702
34    sm     390939
35    sv     744854
36    tl     244392
37    tm     743427
38    tr     389670
39    vl     403311
40    vn     391586
41    vs     481272

In [6]:
df_ronuts

   IndicativJudet             NumeJudet          Regiune MacroRegiune
0              ab                  Alba           Centru          RO1
1              ag                 Arges              Sud          RO3
2              ar                  Arad             Vest          RO4
3               b  Municipiul Bucuresti  Bucuresti-Ilfov          RO3
4              bc                 Bacau         Nord-Est          RO2
5              bh                 Bihor        Nord-Vest          RO1
6              bn       Bistrita-Nasaud        Nord-Vest          RO1
7              br                Braila          Sud-Est          RO2
8              bt              Botosani         Nord-Est          RO2
9              bv                Brasov           Centru          RO1
10             bz                 Buzau          Sud-Est          RO2
11             cj                  Cluj        Nord-Vest          RO1
12             cl              Calarasi              Sud          RO3
13             cs         Caras-Severin             Vest          RO4
14             ct             Constanta          Sud-Est          RO2
15             cv               Covasna           Centru          RO1
16             db             Dambovita              Sud          RO3
17             dj                  Dolj         Sud-Vest          RO4
18             gj                  Gorj         Sud-Vest          RO4
19             gl                Galati          Sud-Est          RO2
20             gr               Giurgiu              Sud          RO3
21             hd             Hunedoara             Vest          RO4
22             hr              Harghita           Centru          RO1
23             if                 Ilfov  Bucuresti-Ilfov          RO3
24             il              Ialomita              Sud          RO3
25             is                  Iasi         Nord-Est          RO2
26             mh             Mehedinti         Sud-Vest          RO4
27             mm             Maramures        Nord-Vest          RO1
28             ms                 Mures           Centru          RO1
29             nt                 Neamt         Nord-Est          RO2
30             ot                   Olt         Sud-Vest          RO4
31             ph               Prahova              Sud          RO3
32             sb                 Sibiu           Centru          RO1
33             sj                 Salaj        Nord-Vest          RO1
34             sm             Satu Mare        Nord-Vest          RO1
35             sv               Suceava         Nord-Est          RO2
36             tl                Tulcea          Sud-Est          RO2
37             tm                 Timis             Vest          RO4
38             tr             Teleorman              Sud          RO3
39             vl                Valcea         Sud-Vest          RO4
40             vn               Vrancea          Sud-Est          RO2
41             vs                Vaslui         Nord-Est          RO2

### 1_ Judetele sortate descrescator dupa ponderea persoanelor analfabete

In [7]:
df_pondere_analfabeti = pd.DataFrame()
df_pondere_analfabeti['Judet'] = df_educatie['Judet']
df_pondere_analfabeti['Pondere_analfabeti'] = df_educatie['PersoaneAnalfabete']/df_educatie.iloc[:, 1:].sum(axis=1)
df_pondere_analfabeti.sort_values('Pondere_analfabeti', ascending=False, axis=0)

   Judet  Pondere_analfabeti
19    gr            0.043547
23    il            0.038644
36    tr            0.030732
38    tl            0.027299
15    cv            0.025677
40    vs            0.025328
41    vn            0.025157
27    mh            0.023432
7     br            0.021886
25    if            0.021331
28    ms            0.021313
32    sj            0.021188
18    gl            0.020712
16    db            0.020423
3     bc            0.020339
6     bt            0.020337
10    bz            0.020091
5     bn            0.018066
33    sm            0.017809
30    ot            0.016993
24    is            0.015873
17    dj            0.015847
14    ct            0.015327
20    gj            0.015241
21    hr            0.013955
39    vl            0.013290
29    nt            0.013140
0     ab            0.012722
31    ph            0.012667
35    sv            0.012294
1     ar            0.012028
12    cs            0.011710
26    mm            0.011507
37    tm            0.010985
22    hd            0.010664
11    cl            0.009800
2     ag            0.009800
34    sb            0.009743
13    cj            0.009179
4     bh            0.008915
8     bv            0.008902
9      b            0.002236

### 2_ Numarul celor analfabeti si fara scoala la 100.000 de loc

In [8]:
df_merge = df_educatie.merge(df_pop_jud, left_on='Judet', right_on='Judet')


df_analfabet_fara_sc = pd.DataFrame()
df_analfabet_fara_sc['Judet'] = df_merge['Judet'] 
df_analfabet_fara_sc['Fara_scoala_si_analfabeti'] = (df_merge['FaraScoala'] + df_merge['PersoaneAnalfabete']) * 100000 / df_merge['Populatie'] 
df_analfabet_fara_sc.sort_values('Fara_scoala_si_analfabeti', axis=0, ascending=False)

   Judet  Fara_scoala_si_analfabeti
19    gr                8280.792980
23    il                7627.747159
36    tr                6365.129469
38    tl                5113.096992
41    vn                5006.818426
11    cl                4959.192927
15    cv                4935.504169
27    mh                4930.227696
16    db                4667.250388
40    vs                4653.293772
6     bt                4590.231462
25    if                4517.815711
32    sj                4496.532123
10    bz                4492.524289
7     br                4466.300017
30    ot                4317.471738
18    gl                4213.964302
28    ms                4198.191672
33    sm                4116.498993
17    dj                3896.752468
3     bc                3759.852024
5     bn                3727.275486
4     bh                3546.551515
39    vl                3438.537506
14    ct                3361.507102
20    gj                3314.148171
26    mm                3308.076633
24    is                3297.302227
21    hr                3162.776485
35    sv                3029.452752
0     ab                3022.679276
31    ph                2988.408612
29    nt                2861.903057
12    cs                2848.335501
37    tm                2724.006527
1     ar                2620.866159
13    cj                2595.655267
2     ag                2436.081852
34    sb                2414.356541
8     bv                2341.626594
22    hd                2316.773106
9      b                 870.646707

### 3_ Numarul persoanelor din fiecare nivel de educatie per regiune

In [9]:
df_merge_regiuni = df_educatie.merge(df_ronuts[['IndicativJudet', 'Regiune']], left_on='Judet', right_on='IndicativJudet')
df_merge_regiuni.drop(['IndicativJudet', 'Judet'], axis=1, inplace=True)
df_merge_regiuni_grouped = df_merge_regiuni.groupby('Regiune').sum()
df_merge_regiuni_grouped

,Superior,Liceal,Gimnazial,Primar,FaraScoala,PersoaneAnalfabete
Regiune,,,,,,
Bucuresti-Ilfov,633661,602340,358622,161259,26323,9686
Centru,287784,540693,549694,251540,59207,25202
Nord-Est,297061,561555,901632,508720,99169,41765
Nord-Vest,332716,591521,661336,292807,72504,25137
Sud,356285,764707,824277,493112,99151,51373
Sud-Est,268348,513588,665914,364232,82565,39508
Sud-Vest,224048,486225,489521,298372,60718,26197
Vest,253163,426183,463545,204249,37142,15786

### 4_ Pentru fiecare regiune, judetele cu ponderile cele mai mari pentru fiecare nivel de educatie

In [10]:
def groupfunction(df:pd.Series):
    print(df)
    print('==============')
    return df.idxmax()

In [11]:
df_merge_regiuni = df_educatie.merge(df_ronuts[['IndicativJudet', 'Regiune']], left_on='Judet', right_on='IndicativJudet')
df_merge_regiuni.drop('IndicativJudet', axis=1, inplace=True)
df_merge_regiuni.set_index('Judet', inplace=True)

df_merge_regiuni_grouped_max_jud = df_merge_regiuni.groupby('Regiune').apply(groupfunction, include_groups=False)

df_merge_regiuni_grouped_max_jud

       Superior  Liceal  Gimnazial  Primar  FaraScoala  PersoaneAnalfabete
Judet
b        577122  519306     265426  114285       15006                3342
if        56539   83034      93196   46974       11317                6344
==============
       Superior  Liceal  Gimnazial  Primar  FaraScoala  PersoaneAnalfabete
Judet
ab        39697   78171      79505   42171        8328                3194
bv        89606  135797     108744   44807       11279                3505
cv        18197   45842      57219   24166        7271                4024
hr        26508   80404      81969   31871        7329                3228
ms        57771  114689     131626   69608       16538                8498
sb        56005   85790      90631   38917        8462                2753
==============
       Superior  Liceal  Gimnazial  Primar  FaraScoala  PersoaneAnalfabete
Judet
bc        55431  105090     155383   88953       19306                8806
bt        25497   69747     119289   73367       14669                6281
is       100688  145810     181176  112161       21319                9051
nt        39443   73997     137000   72751       12078                4464
sv        51590  106808     194971   87395       16869                5696
vs        24412   60103     113813   74093       14928                7467
==============
       Superior  Liceal  Gimnazial  Primar  FaraScoala  PersoaneAnalfabete
Judet
bh        72214  133992     131037   67461       18166                3804
bn        26144   48419      87274   41865        8379                3902
cj       131030  183498     134648   62934       13879                4873
mm        48215  101950     144101   56287       13173                4234
sj        24524   49388      58405   29705        7469                3669
sm        30589   74274     105871   34555       11438                4655
==============
       Superior  Liceal  Gimnazial  Primar  FaraScoala  PersoaneAnalfabete
Judet
ag        77707  150472     129429   72343       11382                4368
cl        77707  150472     129429   72343       11382                4368
db        46022  120706     131920   72932       16587                8093
gr        17169   49526      91114   52594       12771               10161
il        19137   47595      72442   47546       14339                8082
ph        93938  170797     170140   99493       17113                7075
tr        24605   75139      99803   75861       15577                9226
==============
       Superior  Liceal  Gimnazial  Primar  FaraScoala  PersoaneAnalfabete
Judet
br        31522   60281      88961   46437       10596                5321
bz        36595   84595     121314   75274       14703                6817
ct        99338  168189     160050   75405       17785                8106
gl        56463   99574     138346   78928       18359                8284
tl        17097   40026      59490   29981        8153                4343
vn        27333   60923      97753   58207       12969                6637
==============
       Superior  Liceal  Gimnazial  Primar  FaraScoala  PersoaneAnalfabete
Judet
dj        85575  156116     146329   96202       19204                8106
gj        38875   87800      77366   40091        8238                3906
mh        25694   60963      69441   37843        9274                4876
ot        33520   93733     107366   73479       13877                5566
vl        40384   87613      89019   50757       10125                3743
==============
       Superior  Liceal  Gimnazial  Primar  FaraScoala  PersoaneAnalfabete
Judet
ar        53019   90593     115844   54017        8512                3920
cs        29142   64632      87329   39089        6663                2688
hd        51789  100453      98492   50062        7570                3324
tm       119213  170505     161880   61081       14397                5854
==============

                Superior Liceal Gimnazial Primar FaraScoala PersoaneAnalfabete
Regiune
Bucuresti-Ilfov        b      b         b      b          b                 if
Centru                bv     bv        ms     ms         ms                 ms
Nord-Est              is     is        sv     is         is                 is
Nord-Vest             cj     cj        mm     bh         bh                 cj
Sud                   ph     ph        ph     ph         ph                 gr
Sud-Est               ct     ct        ct     gl         gl                 gl
Sud-Vest              dj     dj        dj     dj         dj                 dj
Vest                  tm     tm        tm     tm         tm                 tm

### 5_ Sa se calculeze media persoanelor din fiecare categorie de invatamant per regiune. Se va folosi media aritmetica ponderata, ponderea fiind populatia din acea regiune

In [12]:
def calculate_medie_ponderata(df:pd.DataFrame):
    result = np.average(df.iloc[:,:-1], weights=df['Populatie'], axis=0)
    result_formatted = pd.DataFrame([result], columns=df.iloc[:, :-1].columns)
    print(result_formatted)
    return result_formatted

In [13]:
df_medie_pond_reg = df_educatie.merge(df_ronuts[['IndicativJudet', 'Regiune']], left_on='Judet', right_on='IndicativJudet')
df_medie_pond_reg.drop('IndicativJudet', axis=1, inplace=True)
df_medie_pond_reg = df_medie_pond_reg.merge(df_pop_jud[['Judet', 'Populatie']], left_on='Judet', right_on='Judet')
df_medie_pond_reg.set_index('Judet', inplace=True)
df_medie_pond_reg

weighted_avgs = df_medie_pond_reg.groupby('Regiune').apply(calculate_medie_ponderata, include_groups=False)
weighted_avgs

       Superior       Liceal      Gimnazial         Primar    FaraScoala  \
0  495664.88134  451041.2659  238476.676747  103752.654314  14428.771564

   PersoaneAnalfabete
0         3811.731571
       Superior        Liceal     Gimnazial        Primar    FaraScoala  \
0  55076.630763  99053.033692  98637.099214  45568.637439  10697.485234

   PersoaneAnalfabete
0         4467.060942
       Superior        Liceal      Gimnazial        Primar    FaraScoala  \
0  55683.335607  100771.50563  156945.283354  88083.961086  17177.796366

   PersoaneAnalfabete
0         7177.868723
       Superior         Liceal      Gimnazial        Primar    FaraScoala  \
0  67488.507015  115096.034662  119484.394921  53428.234946  13149.142179

   PersoaneAnalfabete
0         4272.962359
       Superior         Liceal      Gimnazial        Primar    FaraScoala  \
0  59842.055888  123857.601248  128007.775641  75683.470242  14532.468339

   PersoaneAnalfabete
0         7049.627898
       Superior         Liceal      Gimnazial        Primar   FaraScoala  \
0  54232.523766  100263.649546  122962.797445  66359.753371  15030.75253

   PersoaneAnalfabete
0         7064.777598
       Superior         Liceal      Gimnazial        Primar    FaraScoala  \
0  51168.607905  107172.385563  106473.642303  66367.827006  13348.345703

   PersoaneAnalfabete
0          5674.06201
       Superior        Liceal      Gimnazial        Primar    FaraScoala  \
0  73250.813951  118129.76735  124128.360773  53268.606535  10161.113014

   PersoaneAnalfabete
0          4293.49365

,,Superior,Liceal,Gimnazial,Primar,FaraScoala,PersoaneAnalfabete
Regiune,,,,,,,
Bucuresti-Ilfov,0,495664.881340,451041.265900,238476.676747,103752.654314,14428.771564,3811.731571
Centru,0,55076.630763,99053.033692,98637.099214,45568.637439,10697.485234,4467.060942
Nord-Est,0,55683.335607,100771.505630,156945.283354,88083.961086,17177.796366,7177.868723
Nord-Vest,0,67488.507015,115096.034662,119484.394921,53428.234946,13149.142179,4272.962359
Sud,0,59842.055888,123857.601248,128007.775641,75683.470242,14532.468339,7049.627898
Sud-Est,0,54232.523766,100263.649546,122962.797445,66359.753371,15030.752530,7064.777598
Sud-Vest,0,51168.607905,107172.385563,106473.642303,66367.827006,13348.345703,5674.062010
Vest,0,73250.813951,118129.767350,124128.360773,53268.606535,10161.113014,4293.493650

In [24]:
df_coef_var = pd.DataFrame()
df_coef_var = df_educatie.select_dtypes('number')
series_coef_var_variance = df_coef_var.std()/df_coef_var.mean()
df_coef_var_fromatted = pd.DataFrame(series_coef_var_variance, columns=['Coef_Var'])
df_coef_var_fromatted

                    Coef_Var
Superior            1.365196
Liceal              0.713749
Gimnazial           0.351749
Primar              0.364615
FaraScoala          0.310102
PersoaneAnalfabete  0.374930

In [15]:
df_educatie

   Judet  Superior  Liceal  Gimnazial  Primar  FaraScoala  PersoaneAnalfabete
0     ab     39697   78171      79505   42171        8328                3194
1     ar     53019   90593     115844   54017        8512                3920
2     ag     77707  150472     129429   72343       11382                4368
3     bc     55431  105090     155383   88953       19306                8806
4     bh     72214  133992     131037   67461       18166                3804
5     bn     26144   48419      87274   41865        8379                3902
6     bt     25497   69747     119289   73367       14669                6281
7     br     31522   60281      88961   46437       10596                5321
8     bv     89606  135797     108744   44807       11279                3505
9      b    577122  519306     265426  114285       15006                3342
10    bz     36595   84595     121314   75274       14703                6817
11    cl     77707  150472     129429   72343       11382                4368
12    cs     29142   64632      87329   39089        6663                2688
13    cj    131030  183498     134648   62934       13879                4873
14    ct     99338  168189     160050   75405       17785                8106
15    cv     18197   45842      57219   24166        7271                4024
16    db     46022  120706     131920   72932       16587                8093
17    dj     85575  156116     146329   96202       19204                8106
18    gl     56463   99574     138346   78928       18359                8284
19    gr     17169   49526      91114   52594       12771               10161
20    gj     38875   87800      77366   40091        8238                3906
21    hr     26508   80404      81969   31871        7329                3228
22    hd     51789  100453      98492   50062        7570                3324
23    il     19137   47595      72442   47546       14339                8082
24    is    100688  145810     181176  112161       21319                9051
25    if     56539   83034      93196   46974       11317                6344
26    mm     48215  101950     144101   56287       13173                4234
27    mh     25694   60963      69441   37843        9274                4876
28    ms     57771  114689     131626   69608       16538                8498
29    nt     39443   73997     137000   72751       12078                4464
30    ot     33520   93733     107366   73479       13877                5566
31    ph     93938  170797     170140   99493       17113                7075
32    sj     24524   49388      58405   29705        7469                3669
33    sm     30589   74274     105871   34555       11438                4655
34    sb     56005   85790      90631   38917        8462                2753
35    sv     51590  106808     194971   87395       16869                5696
36    tr     24605   75139      99803   75861       15577                9226
37    tm    119213  170505     161880   61081       14397                5854
38    tl     17097   40026      59490   29981        8153                4343
39    vl     40384   87613      89019   50757       10125                3743
40    vs     24412   60103     113813   74093       14928                7467
41    vn     27333   60923      97753   58207       12969                6637

In [16]:
df_categ_predominante = df_educatie
df_categ_predominante.set_index('Judet', inplace=True)

In [17]:
df_categ_predominante

       Superior  Liceal  Gimnazial  Primar  FaraScoala  PersoaneAnalfabete
Judet
ab        39697   78171      79505   42171        8328                3194
ar        53019   90593     115844   54017        8512                3920
ag        77707  150472     129429   72343       11382                4368
bc        55431  105090     155383   88953       19306                8806
bh        72214  133992     131037   67461       18166                3804
bn        26144   48419      87274   41865        8379                3902
bt        25497   69747     119289   73367       14669                6281
br        31522   60281      88961   46437       10596                5321
bv        89606  135797     108744   44807       11279                3505
b        577122  519306     265426  114285       15006                3342
bz        36595   84595     121314   75274       14703                6817
cl        77707  150472     129429   72343       11382                4368
cs        29142   64632      87329   39089        6663                2688
cj       131030  183498     134648   62934       13879                4873
ct        99338  168189     160050   75405       17785                8106
cv        18197   45842      57219   24166        7271                4024
db        46022  120706     131920   72932       16587                8093
dj        85575  156116     146329   96202       19204                8106
gl        56463   99574     138346   78928       18359                8284
gr        17169   49526      91114   52594       12771               10161
gj        38875   87800      77366   40091        8238                3906
hr        26508   80404      81969   31871        7329                3228
hd        51789  100453      98492   50062        7570                3324
il        19137   47595      72442   47546       14339                8082
is       100688  145810     181176  112161       21319                9051
if        56539   83034      93196   46974       11317                6344
mm        48215  101950     144101   56287       13173                4234
mh        25694   60963      69441   37843        9274                4876
ms        57771  114689     131626   69608       16538                8498
nt        39443   73997     137000   72751       12078                4464
ot        33520   93733     107366   73479       13877                5566
ph        93938  170797     170140   99493       17113                7075
sj        24524   49388      58405   29705        7469                3669
sm        30589   74274     105871   34555       11438                4655
sb        56005   85790      90631   38917        8462                2753
sv        51590  106808     194971   87395       16869                5696
tr        24605   75139      99803   75861       15577                9226
tm       119213  170505     161880   61081       14397                5854
tl        17097   40026      59490   29981        8153                4343
vl        40384   87613      89019   50757       10125                3743
vs        24412   60103     113813   74093       14928                7467
vn        27333   60923      97753   58207       12969                6637

In [18]:
df_pred = df_categ_predominante.idxmax(axis=1)
df_formatted = pd.DataFrame(df_pred, columns=['Nivel_Predominant'])
df_formatted

      Nivel_Predominant
Judet
ab            Gimnazial
ar            Gimnazial
ag               Liceal
bc            Gimnazial
bh               Liceal
bn            Gimnazial
bt            Gimnazial
br            Gimnazial
bv               Liceal
b              Superior
bz            Gimnazial
cl               Liceal
cs            Gimnazial
cj               Liceal
ct               Liceal
cv            Gimnazial
db            Gimnazial
dj               Liceal
gl            Gimnazial
gr            Gimnazial
gj               Liceal
hr            Gimnazial
hd               Liceal
il            Gimnazial
is            Gimnazial
if            Gimnazial
mm            Gimnazial
mh            Gimnazial
ms            Gimnazial
nt            Gimnazial
ot            Gimnazial
ph               Liceal
sj            Gimnazial
sm            Gimnazial
sb            Gimnazial
sv            Gimnazial
tr            Gimnazial
tm               Liceal
tl            Gimnazial
vl            Gimnazial
vs            Gimnazial
vn            Gimnazial