In [1]:
import pandas as pd
import numpy as np

In [2]:
df_energ = pd.read_csv('input/EnergLoc.csv')
df_ronuts = pd.read_csv('input/RO_NUTS.csv')

In [3]:
df_energ.head()

  Judet  c3511  c3512  c3513  c3514  c3521   c3522   c3523   c3530
0    dj  7.700    0.0  4.138  1.795    0.0   0.000   0.000   4.770
1    ms  0.206    0.0  0.000  0.000    0.0  11.061  11.842   1.422
2    vl  0.071    0.0  0.000  0.000    0.0   0.000   2.312  15.843
3    hr  0.071    0.0  1.428  0.347    0.0   0.000   2.844   7.952
4    nt  0.327    0.0  0.807  0.000    0.0   0.528   0.000   2.400

In [4]:
df_ronuts.head()

  IndicativJudet             NumeJudet          Regiune MacroRegiune
0             ab                  Alba           Centru          RO1
1             ag                 Arges              Sud          RO3
2             ar                  Arad             Vest          RO4
3              b  Municipiul Bucuresti  Bucuresti-Ilfov          RO3
4             bc                 Bacau         Nord-Est          RO2

In [5]:
df_coef_local = pd.DataFrame()
df_coef_local['Judet'] = df_energ['Judet']
df_coef_local['Coef'] = df_energ.iloc[:, 1:].mean(axis=1)
df_coef_local.head()

  Judet      Coef
0    dj  2.300375
1    ms  3.066375
2    vl  2.278250
3    hr  1.580250
4    nt  0.507750

In [6]:
mask = df_energ['c3511'] > 1
df_energ_mask = df_energ[mask]

df_energ_mask.head()

   Judet  c3511  c3512  c3513  c3514   c3521  c3522  c3523  c3530
0     dj  7.700  0.000  4.138  1.795   0.000  0.000  0.000  4.770
6     tl  1.720  0.000  1.193  0.000   0.000  2.316  0.000  3.521
7     tr  1.061  0.000  0.000  0.000   0.000  0.000  0.000  9.198
13    bt  1.604  0.000  0.000  0.000  11.965  0.000  0.000  7.214
25     b  1.277  2.434  1.081  2.601   2.330  1.427  1.901  2.664

In [7]:
df_energ_idx = df_energ
df_energ_idx.set_index('Judet', inplace=True)

In [8]:
df_energ_max_coef = df_energ_idx.idxmax(axis=1)
df_energ_max_coef_df = pd.DataFrame(df_energ_max_coef, columns=['Coef'])
df_energ_max_coef_df.head()

        Coef
Judet
dj     c3511
ms     c3523
vl     c3530
hr     c3530
nt     c3530

In [9]:
df_merge = df_energ.merge(df_ronuts[['IndicativJudet', 'Regiune']], left_on='Judet', right_on='IndicativJudet')
df_merge.drop(['Judet', 'IndicativJudet'], axis=1, inplace=True)

KeyError: "['Judet'] not found in axis"

In [ ]:
df_merge.groupby('Regiune').mean()

,c3511,c3512,c3513,c3514,c3521,c3522,c3523,c3530
Regiune,,,,,,,,
Bucuresti-Ilfov,0.861000,1.217000,0.540500,1.300500,1.534500,0.957000,1.6735,1.332000
Centru,0.262600,1.357400,0.874400,0.433800,0.297600,2.302400,2.9372,2.594000
Nord-Est,0.621167,0.000000,0.804333,0.203833,1.994167,0.751167,0.1490,4.658333
Nord-Vest,0.701500,0.000000,0.360000,0.405500,0.000000,0.435333,0.0000,2.477000
Sud,0.820286,0.374143,0.470000,0.021000,1.598714,0.233000,0.0000,3.155000
Sud-Est,0.940667,0.000000,0.750667,0.308833,1.403333,0.686333,0.0000,3.966667
Sud-Vest,1.626000,0.000000,0.827600,0.631800,0.000000,0.237000,1.0924,5.291000
Vest,1.663500,0.000000,0.781250,0.181750,0.226250,0.221000,0.0950,1.980750

In [18]:
df_merge = df_energ.merge(df_ronuts[['IndicativJudet', 'Regiune']], left_on='Judet', right_on='IndicativJudet')

In [21]:
df_merge.set_index('IndicativJudet', inplace=True)

In [23]:
def grouping_function(df:pd.DataFrame):
    max = df.idxmax(axis=0)
    return max

In [24]:
df_rez = df_merge.groupby('Regiune').apply(grouping_function, include_groups=False)

df_rez

                c3511 c3512 c3513 c3514 c3521 c3522 c3523 c3530
Regiune
Bucuresti-Ilfov     b     b     b     b     b     b     b     b
Centru             bv    sb    bv    ab    ab    ms    ms    hr
Nord-Est           bt    nt    is    is    bt    vs    sv    sv
Nord-Vest          sj    bn    cj    sj    bn    sj    bn    bh
Sud                gr    ph    ph    ph    gr    cl    tr    tr
Sud-Est            gl    tl    ct    ct    br    tl    tl    vn
Sud-Vest           dj    dj    dj    dj    dj    mh    ot    vl
Vest               ar    tm    tm    ar    ar    ar    tm    tm